---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import SectionBlock from '../components/SectionBlock.astro';
import ContactForm from '../components/ContactForm.astro';
import { t } from '../i18n';

const i = t('en');
---

<Layout title={i.contact.title} description={i.contact.metaDescription}>
  <Hero heading={i.contact.heading} />

  <SectionBlock>
    <p class="text-center text-lg mb-4 max-w-xl mx-auto">{i.contact.intro}</p>
    <p class="text-center text-lg mb-8">
      {i.contact.info.split('ayahuaskent@gmail.com')[0]}
      <a href="mailto:ayahuaskent@gmail.com" class="text-brand-gold underline">ayahuaskent@gmail.com</a>
      {i.contact.info.split('ayahuaskent@gmail.com')[1]}
    </p>
    <p class="text-center text-base mb-8 text-brand-dark/80">
      {i.contact.orderNudge}
      <a href="/order" class="text-brand-purple underline underline-offset-4 hover:text-brand-gold transition-colors ml-1">{i.contact.orderNudgeCta} &rarr;</a>
    </p>
    <ContactForm />
  </SectionBlock>
</Layout>
